{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="expires" content="0">
    <title>Home</title>
</head>
<body>
    <h1 style="text-align: center;">WHATSAPP TRACKER</h1> <hr>
    <button onclick="location.href= '{% url 'qr' %}'" >QR Code</button> 
    <button onclick="location.href= '{% url 'screen' %}'" >Current Screen</button>
    <button onclick="location.href= '{% url 'tracking' %}'" >Start Tracking</button> <hr>
    <img src="{% static 'screenshot.png' %}" alt="My image"/>
</body>
</html>