<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status History</title>
</head>
<body>
    <table style= "width: 100%;" border="2px solid black">
        <tr>
            <th>Sr No</th>
            <th>Online</th>
            <th>Offline</th>
            <th>Duration</th>
        </tr>
    {% for element in lis %}
        <tr>
            <td>{{ element.id}}</td>
            <td>{{ element.online}} </td>
            <td>{{ element.offline}} </td>
            <td>{{ element.duration}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>
